.chart-bar-inner {
    height: 100%;
    width: 100%;
    border : 1px solid #313131;
    border-radius: 12px;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chart-bar-fill {
    background-color: white; 
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-out;
}


.chart-bar-label {
    font-weight : bold;
    font-size : 0.5rem;
    text-align: center;
}

.chart-bar { 
    width:25px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
